<!DOCTYPE html>

<html lang="en">

	<title> Data Collector App</title>
	<head>
		<link href="../static/main.css" rel="stylesheet">
	</head>
	<body>
		<div class="container"> 
			<h1>Geocoding example</h1>	
			<h3> Upload a CSV file with an "address" column and we will display an return <br>at file with latitude and longitude added to the file! </h3>
			<div class="message">
				{{text | safe}}
			</div>
			<div>
				{{table | safe}}
			</div>
		<form action="{{url_for('success')}}" method="POST" enctype="multipart/form-data">
			<input type="file" name="file"> 
			<button type="submit"> Submit </button>
		</form>
		{% include btn ignore missing%}
		</div>
	</body>

</html>

