html, body {
	height:100%;
	margin: 0;
}

.container{
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background-color: #006666;
	color: #e6ffff;
	overflow: hidden;
	text-align: center;
}

.container h1 {
	font-family: Arial, sans-serif;
	font-size: 30px;
	color: #DDCCEE;
	margin-top: 80px;
}

.container form {
	margin: 20px;
}

.container input{
	width: 350px;
	height:15px;
	font-size: 15px;
	margin:2px;
	pading: 20px;
	transition: all 0.2s ease-in-out;
}

.container button{
	width : 70px;
	height: 30px;
	background-color: steelblue;
	margin: 3px;
}

.container p{
	margin : 100px;
}

.message {
	font-family: Arial, sans-serif;
	font-size: 15px;
	color: #ff9999
}
